---
import { SITE_TITLE, SITE_DESCRIPTION, SITE_BASE } from "../consts";
import { getCollection } from "astro:content";
import Tag from "../components/Tag.astro";
import Base from "../layouts/Base.astro";

const posts = (await getCollection("recipes")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const formatTime = (time: number) => {
  if (time <= 60) {
    return `${time}min`;
  }

  const hours = Math.floor(time / 60);
  const mins = time % 60;
  return `${hours}h ${mins}min`;
};
---

<Base title={SITE_TITLE}>
  <ul class="md:columns-2 lg:columns-3 columns-1 gap-4">
    {
      posts.map((post) => (
        <li class="mb-4 border-pink border-8 rounded-md bg-gray-light break-inside-avoid-column hover:drop-shadow-card-hover hover:-translate-y-2 hover:-translate-x-2 transition-all ease-in-out">
          <a href={`${SITE_BASE}/${post.slug}/`}>
            <div class="p-3">
              <h2 class="font-bold tracking-wide pb-1 mb-1 border-blue border-b">
                {post.data.title}
              </h2>
              <ul class="flex flex-wrap">
                <Tag
                  name={formatTime(post.data.cookingTime)}
                  type="cookingTime"
                />
                {post.data.categories.map((c) => (
                  <Tag name={c} type="category" />
                ))}
                {post.data.tags.map((t) => (
                  <Tag name={t} type="tag" />
                ))}
              </ul>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</Base>
